* {
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 5px 5px rgb(178 178 178);
    padding: 1rem 2rem;
    display: flex;
    gap: 0.4rem;
    margin-bottom: 1.5rem;
    background-color: white;
}

header > img {
    height: 2rem;
}

body {
    background-color: #dce4e9;
}

main {
    display: grid;
    justify-items: center;
}

container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
    margin-bottom: 2rem;
    gap: 1.5rem;
    padding: 2rem 1rem;
    width: 90%;
}

container > .book {
    display: grid;
    background-color: white;
    border-left: 5px black;
    justify-content: center;
    justify-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(178 178 178);
    padding: 1rem 0.5rem;

}

.add-book {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    box-shadow: 5px 5px 5px rgb(178 178 178);
}

.add-book:hover {
    background-color: rgb(41, 41, 41);
}

.github {
    font-size: 1.5rem;
    height: 2rem;
    width:auto;
}

.github:hover {
    transform: rotate(720deg);
    transition: transform 1.5s;
}

.edit,
.remove {
    height: 1.5rem;
    width: auto;
}

.book-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.edit,
.remove {
    padding: 0;
    border: none;
    background: none;
    height: 1.5rem;
    width: auto;
}

.edit:hover,
.remove:hover {
    transform: rotate(360deg);
    transition: transform 1s;
}

.new-book-form {
    position: absolute;
    align-self: center;
    justify-self: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 0.75rem;
    border: solid black;
}

.new-book-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

